body{
    background-color: #FFF;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgba(185,4,14);
    height: 120px;    
}
.banner img{
    max-height: 120px;
    width: 280px;
}
.banner-text p:first-child{
    color: white;
    font-size: 32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner-text p:first-child::first-letter{
    font-size: 84px;
    font-weight: bold;
    text-shadow: 2px -4px 18px white;
}
.navbar{
    position: sticky;
    top: 0;
    margin-bottom: 16px;
}
nav{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:red;
    height: 40px;
}
nav a{
    font-weight: bold;
}
h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
ul,li{
    display: inline;
    padding: 0 20px;
}
li:hover{
    color: white;
    text-decoration: underline;
    transition: 0.5s;
}
li a{
    text-decoration: none;
    color: white;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    gap: 20px;
}
.content div{
    margin-bottom: 20px;
}
.content img{
    width: 400px;
    height: 200px;
}
.content-video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.content-video p{
    font-size: 24px;
}
.home-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.home-content p:first-child{
    font-size: 2rem;
}
.home-content p{
    font-size: 17px;
}
.home-content a{
    color: red;
    text-decoration: none;
}
.home-content img{
    height: 170px;
    width: 340px;
}
table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: lightgray;
}
hr{
    border: 1px solid gray;
    margin-bottom: 32px;
}
p{
    line-height: 1.4;
    margin-bottom: 20px;
}
video{
    width: 426px;
    height: 240px;
}
@media only screen and (max-width: 450px) {

.container{
    width: 375px;
    margin: 0;
}
.home-content{
    grid-template-columns: 1fr;
    justify-content: start;
}
.navbar{
    display: none;
}
.banner img{
    display: none;
}
.content{
    width: 375;
    display: grid;
    grid-template-columns: 1fr;
}
.content img{
    width: 375px;
}
.content-video{
    display: grid;
    grid-template-columns: 1fr;
}
video{
    width: 375px;
}
}
